<style>
  body {
    margin: auto;
    font-family: 'Inter', sans-serif;
    padding: 1em;
    max-width: 700px;
       }
</style>
<html lang="en"> 
<head>
  <title>Demo site</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap" rel="stylesheet">
  </head>
  
<h1>Hello my name is Ben.</h1>
  
<body>
<br><a href='/about/'>About me</a>
<br><a href='/schedule/'>My <b>schedule</b></a>
  <header>
  
   <main>
   {{content}}
   </main>
   
  </header>
  <footer>
    This is created by Ben
   </footer>
  
</body>
  </html>
